In [2]:
# Import pandas with the standard alias
import pandas as pd

# Set a variable to the URL you copied above
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data'

# Read or load the data
df = pd.read_csv(url)

In [3]:
df

     x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0    x   x   x   x  o   o   o   x   o  positive
1    x   x   x   x  o   o   o   o   x  positive
2    x   x   x   x  o   o   o   b   b  positive
3    x   x   x   x  o   o   b   o   b  positive
4    x   x   x   x  o   o   b   b   o  positive
..  ..  ..  ..  .. ..  ..  ..  ..  ..       ...
952  o   x   x   x  o   o   o   x   x  negative
953  o   x   o   x  x   o   x   o   x  negative
954  o   x   o   x  o   x   x   o   x  negative
955  o   x   o   o  x   x   x   o   x  negative
956  o   o   x   x  x   o   o   x   x  negative

[957 rows x 10 columns]