In [32]:
# Import pandas with the standard alias
import pandas as pd
import numpy as np

# Set a variable to the URL you copied above
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data'

# Read or load the data
df = pd.read_csv(url)

In [33]:
df

     x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0    x   x   x   x  o   o   o   x   o  positive
1    x   x   x   x  o   o   o   o   x  positive
2    x   x   x   x  o   o   o   b   b  positive
3    x   x   x   x  o   o   b   o   b  positive
4    x   x   x   x  o   o   b   b   o  positive
..  ..  ..  ..  .. ..  ..  ..  ..  ..       ...
952  o   x   x   x  o   o   o   x   x  negative
953  o   x   o   x  x   o   x   o   x  negative
954  o   x   o   x  o   x   x   o   x  negative
955  o   x   o   o  x   x   x   o   x  negative
956  o   o   x   x  x   o   o   x   x  negative

[957 rows x 10 columns]

In [34]:
# dates = pd.date_range('20130101', periods = 6)

In [35]:
# dates

In [36]:
# df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [37]:
# df

In [38]:
# df['x'], df.x

In [39]:
df.describe

<bound method NDFrame.describe of      x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0    x   x   x   x  o   o   o   x   o  positive
1    x   x   x   x  o   o   o   o   x  positive
2    x   x   x   x  o   o   o   b   b  positive
3    x   x   x   x  o   o   b   o   b  positive
4    x   x   x   x  o   o   b   b   o  positive
..  ..  ..  ..  .. ..  ..  ..  ..  ..       ...
952  o   x   x   x  o   o   o   x   x  negative
953  o   x   o   x  x   o   x   o   x  negative
954  o   x   o   x  o   x   x   o   x  negative
955  o   x   o   o  x   x   x   o   x  negative
956  o   o   x   x  x   o   o   x   x  negative

[957 rows x 10 columns]>

In [40]:
df.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

In [43]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,947,948,949,950,951,952,953,954,955,956
x,x,x,x,x,x,x,x,x,x,x,...,x,x,x,o,o,o,o,o,o,o
x.1,x,x,x,x,x,x,x,x,x,x,...,o,o,o,x,x,x,x,x,x,o
x.2,x,x,x,x,x,x,x,x,x,x,...,x,x,o,x,x,x,o,o,o,x
x.3,x,x,x,x,x,x,x,x,x,x,...,o,o,o,x,x,x,x,x,o,x
o,o,o,o,o,o,o,o,o,b,b,...,x,o,x,x,o,o,x,o,x,x
o.1,o,o,o,o,o,b,b,b,o,o,...,x,x,x,o,o,o,o,x,x,o
x.4,o,o,o,b,b,o,o,b,o,o,...,o,x,x,o,x,o,x,x,x,o
o.2,x,o,b,o,b,o,b,o,o,b,...,x,x,x,o,o,x,o,o,o,x
o.3,o,x,b,b,o,b,o,o,b,o,...,o,o,o,x,x,x,x,x,x,x
positive,positive,positive,positive,positive,positive,positive,positive,positive,positive,positive,...,negative,negative,negative,negative,negative,negative,negative,negative,negative,negative