In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'https://tinyurl.com/mms-statistics')

In [3]:
df.shape

(816, 4)

In [4]:
df.head()

            type   color  diameter  mass
0  peanut butter    blue     16.20  2.18
1  peanut butter   brown     16.50  2.01
2  peanut butter  orange     15.48  1.78
3  peanut butter   brown     16.32  1.98
4  peanut butter  yellow     15.59  1.62

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      816 non-null    object
 1   color     816 non-null    object
 2   diameter  816 non-null    float64
 3   mass      816 non-null    float64
dtypes: float64(2), object(2)
memory usage: 25.6+ KB

In [6]:
df.describe()

         diameter        mass
count  816.000000  816.000000
mean    14.171912    1.419632
std      1.220001    0.714765
min     11.230000    0.720000
25%     13.220000    0.860000
50%     13.600000    0.920000
75%     15.300000    1.930000
max     17.880000    3.620000

In [7]:
df.columns

Index(['type', 'color', 'diameter', 'mass'], dtype='object')

In [8]:
df['type'].value_counts()

plain            462
peanut butter    201
peanut           153
Name: type, dtype: int64